vehicles-list
  width 100%

.vehicles-list
  display flex
  background-color white
  margin .4em
  padding .5em

.vehicles-list__item
  display flex
  flex-direction column
  align-items center
  padding 1em 0
