body
  font-family sans-serif
  background-color #EFEFEF

#app
  display flex
  flex-direction row
  flex-wrap wrap

.left-container
  flex-grow 1
  background-color white
  margin .4em
  padding .5em

.right-container
  flex-grow 2
.right-container__top
  display flex
  flex-wrap wrap
